*{
    box-sizing: border-box;
}

body{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(27, 27, 27);
}

h1{
    text-align: center;
    font-size: 35px;
    font-style: oblique;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.cabeca{
    display: inline-block;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    background-color: rgb(27, 27, 27);
    }


header{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    align-items: center;
    padding-top: 35px;
}

input{
    height: 110px;
    width: 80%;
    font-size: 20px;
    padding-left: 10%;
}

button.add{
    width: 20%;
    height: 110px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(144, 255, 110);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

button.add:hover{
    background-image: linear-gradient(90deg,rgb(123, 255, 123), rgb(0, 204, 0));
    box-shadow: 0 0 20px rgb(255, 255, 255);
    color: black;
    font-size: 25px;
    transition: 0.7s;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 40px;
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 25px rgb(92, 92, 92);
    margin-bottom: 2%;
    border-radius: 15px;
}

.item.item-clicado{
    background-color: rgb(155, 255, 155);
}

.item-icone{
    flex: 20%;
    text-align: center;
}
.item-nome{
    flex: 55%;
    font-size: 20px;
    font-weight: bold;
}
.item-botao{
    flex: 25%;
}

.delete{
    background-color: red;
    color: white;
    height: 80px;
    width: 100%;
}

.delete:hover{
    background-image: linear-gradient(90deg, rgb(255, 88, 88), rgb(168, 1, 1));
    box-shadow: 0 0 25px rgb(255, 255, 255);
    font-size: 25px;
    transition: 0.7s;
}

.item.clicado{
    background-color: rgb(152, 255, 152);
}

.item.clicado .item-nome{
    text-decoration: line-through;
    color: gray;
}


